.box{
    display:flex;
    height: 450px;
    padding-top: 50px;
    margin-left: 346px;
    margin-bottom:30px;
    padding:10px;
    text-align:center;
}
button{
    width:130px;
    background: #1f1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1f1;
    transition: all 0.3s ease;
}
button:hover{
    color: #1f1;
    background: none;
}
.form{
    margin-right:300px
}
select{
    width: 300px;
}
.detail{
    background-color:#212;
    height:200px;
    margin-top:30px;
    padding:10px;
    text-align:center;
}
.map{
    background-color: #eef;
    color:black;
    height:300px;
    margin-right:50px;
    padding-top:100px;
    weight:400;
    width:400px;
}